*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.css-79ws1d-MuiModal-root {
  padding: 100px;
}